#services {
    @include m-flex(flex, row, center, start);
    min-height: 100vh;
    padding: 5rem 0;
}

.s-service {

    .s-description {
        @include m-flex(flex, column, center, center);

        .s-title {
            @include m-flex(flex, column, center, center);
            @include m-text($s-super-title/2, bold, 1px, 1.25, $color-black)
        }

        .s-text {
            @include m-flex(flex, column, center, center);
        }
    }

    .s-grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;

        .s-item {
            @include m-flex(flex, column, center, center);
            overflow: hidden;
            position: relative;
            
            .s-item-text {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                @include m-flex(flex, row, center, center);
                @include m-text($s-item-grid, bold, 1px, 1.25, $color-white);
                color: $color-white;
                margin: 0;
                padding: 2rem;
                text-align: center;
            }

            .s-item-img {
                width: 100%;
            }

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: darken(rgba($color-05, 0.4), 50%);

            }

            &:hover {
                &::before {
                    transition: 0.3s ease all;
                    backdrop-filter: blur(5px);
                    background: darken(rgba($color-05, 0.5), 70%);

                }
            }
        }
    }

}