/***************** BASE ********************/
/*********************************************/
/***************** FONTS *********************/
/*********************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*********************************************/
/***************** RESET *********************/
/*********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*********************************************/
/***************** COLORS ********************/
/*********************************************/
/*********************************************/
/***************** MIXINS ********************/
/*********************************************/
/*********************************************/
/***************** LAYOUTS *******************/
/*********************************************/
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 5rem 0;
}

/*********************************************/
/***************** TEXTS *********************/
/*********************************************/
/***************** LAYOUTS ********************/
header {
  background: #393839;
}

.n-navbar {
  height: 100%;
  width: 100%;
  padding: 7px;
  position: relative;
  z-index: 99;
}
.n-navbar .n-navbar-header {
  clear: both;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.n-navbar .n-navbar-header .ion-ios-navicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  cursor: pointer;
}
.n-navbar .n-navbar-header .n-navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.n-navbar .n-navbar-header .n-navbar-brand .n-navbar-img {
  width: 120px;
}

.sidebar .nav-left {
  height: 100%;
}

.sidebar .sidebar-content,
.sidebar .sidebar-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  height: 100vh;
}

.sidebar .sidebar-overlay {
  right: 0;
  opacity: 0;
  width: 100%;
  z-index: 999;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.4);
}

.sidebar .sidebar-content {
  width: 80%;
  color: #333;
  padding: 15px;
  z-index: 9999;
  background: #fff;
  transform: translateX(-100%);
}

.sidebar.active .sidebar-content {
  transform: translateX(0);
}

.sidebar.active .sidebar-overlay {
  opacity: 1;
  transform: scale(1);
}

.sidebar .sidebar-content .top-head .name {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 5px;
}

.sidebar .sidebar-content .top-head .email {
  font-size: 13px;
  margin-bottom: 50px;
}

.sidebar .sidebar-content .nav-left > a {
  color: #333;
  display: block;
  font-size: 16px;
  padding: 10px 0;
  line-height: 24px;
  text-decoration: none;
}

.sidebar .sidebar-content .nav-left > a > span {
  color: rgba(0, 0, 0, 0.75);
  font-size: 24px;
  min-width: 40px;
  display: inline-block;
}

.html.chats,
.html.search,
.html.compose,
.html.credits,
.html.settings,
.html.welcome {
  margin-top: 50px;
}

.n-navbar-header,
.pull-left {
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
}

.img-sidebar {
  width: 100px;
}

.h-home {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../image/img-banner-01.jpg");
  background-size: cover;
  background-position: center;
}
.h-home .h-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.h-home .h-description h1 {
  font-size: 3.6em;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1.15;
  color: white;
  margin-bottom: 2rem;
}
.h-home .h-description p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: white;
}
.h-home::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.s-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-service .s-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-service .s-description .s-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.25;
  color: black;
}
.s-service .s-description .s-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-service .s-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}
.s-service .s-grid .s-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.s-service .s-grid .s-item .s-item-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.25;
  color: white;
  color: white;
  margin: 0;
  padding: 2rem;
  text-align: center;
}
.s-service .s-grid .s-item .s-item-img {
  width: 100%;
}
.s-service .s-grid .s-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 42, 89, 0.4);
}
.s-service .s-grid .s-item:hover::before {
  transition: 0.3s ease all;
  backdrop-filter: blur(5px);
  background: rgba(20, 10, 20, 0.5);
}

.m-marketing {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-image: url("../image/img-banner-02.jpg");
  background-size: cover;
  background-position: center;
}
.m-marketing .m-img {
  width: 100%;
}
.m-marketing .m-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9;
}
.m-marketing .m-description .m-description-title {
  font-size: 2.4em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  color: white;
  text-align: center;
}
.m-marketing .m-description .m-description-text {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.25;
  color: white;
  width: 70%;
  text-align: center;
  margin-top: 2rem;
}
.m-marketing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(8, 24, 74, 0.7));
  z-index: 5;
}

.methodology {
  background: linear-gradient(45deg, #6700a8 10%, #3661e8 95%);
  padding: 5rem 0;
}

.th-description {
  padding: 2rem;
  margin: 0 auto;
}
.th-description h2 {
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}
.th-description p {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1.15;
  color: white;
  text-align: center;
}

.th-methodology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.th-methodology .th-card {
  padding: 1rem;
  width: 90%;
  margin: 5px auto;
  transition: 0.2s ease all;
}
@media (min-width: 578px) {
  .th-methodology .th-card {
    width: 100%;
  }
}
.th-methodology .th-card .th-card-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.th-methodology .th-card .th-card-img img {
  width: 70%;
}
.th-methodology .th-card .th-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0 1rem;
}
.th-methodology .th-card .th-card-body h3 {
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.15;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}
.th-methodology .th-card .th-card-body p {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1.15;
  color: white;
  text-align: center;
}
.th-methodology .th-card:hover {
  background: rgba(255, 255, 255, 0.05);
}

.c-contact {
  background: #393839;
  padding: 5rem 2rem 3rem;
}
.c-contact h2 {
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.15;
  color: white;
}
.c-contact .c-contact-form input,
.c-contact .c-contact-form textarea {
  background: #393839;
  border: 1px solid white;
  width: 100%;
  margin-bottom: 7px;
  padding: 5px 10px;
  color: white;
}
.c-contact .c-contact-form input::placeholder,
.c-contact .c-contact-form textarea::placeholder {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.1px;
  line-height: 1.15;
  color: white;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  margin-left: 5px;
}
.c-contact .c-contact-form .pulsate-fwd {
  background: #e8e8e8;
  border: none;
  color: black;
  transition: 0.2s ease all;
}
.c-contact .c-contact-form .pulsate-fwd:active {
  background: linear-gradient(45deg, #6700a8 10%, #3661e8 95%);
  color: white;
}
.c-contact .c-contact-form textarea {
  resize: none;
  height: 80px;
}

.f-footer {
  background: #e8e8e8;
}
.f-footer .f-footer-s {
  padding: 3rem 1rem 1rem;
}
.f-footer .f-footer-s .f-footer-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.f-footer .f-footer-s .f-footer-brand img {
  width: 100px;
  opacity: 0.6;
}
.f-footer .f-footer-s .f-footer-address, .f-footer .f-footer-s .f-footer-contact {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: auto;
  line-height: 1.15;
  color: black;
  list-style: none;
  padding: 0;
}
.f-footer .f-footer-s .f-footer-address li, .f-footer .f-footer-s .f-footer-contact li {
  margin-bottom: 7px;
}
.f-footer .f-footer-s h3 {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
.f-footer .f-footer-s h3 i {
  margin-right: 5px;
}
.f-footer .f-footer-s h4 {
  font-size: 0.625em;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
